<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Floreria</title>
</head>
<body>
    {% with mensajes= get_flashed_messages()  %}
        {% if mensajes %}
            {% for msj in mensajes %}
                <h3>{{ msj }}</h3>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <h1>Floreria</h1>
    <br>
    <br>
    <table>
        <thead>
            <tr>
                <td>id</td>
                <td>nombre</td>
                <td>cantidad</td>
                <td>precio</td>
            </tr>
        </thead>
        <tbody>
            {%for flor in flores %}
            <tr>
                <td>{{flor.0}}</td>
                <td>{{flor.1}}</td>
                <td>{{flor.2}}</td>
                <td>{{flor.3}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
    <a href=/buscarflor/0><button>Buscar</button></a>
    <a href=/insertarflor><button>Ingresar</button></a>
</body>
</html>