</html>

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insertar Flor</title>
</head>
<body>
    
    <h1>Flor a insertar</h1>
    <br>
    <br>
    <form action="/guardarflor" method="POST">

        <input type="text" name="txtNombre" placeholder="Nombre">
        <input type="number" name="txtCantidad" placeholder="Cantidad">
        <input type="number" name="txtPrecio"  placeholder="Precio" step="any">

        <button type="submit">Insertar</button>
        <a href=/><button type="button">Cancelar</button></a>
        
    </form>

</body>
</html>