<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Album</title>
</head>
<body>
    
    <h1>Album a editar</h1>
    <br>
    <br>
    <form action="/borrado/{{album.0}}" method="POST">
        <table>
            <thead>
                <tr>
                    <td>Id: </td>
                    <td>Album: </td>
                    <td>Artista: </td>
                    <td>Año de publicación: </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{album.0}}</td>
                    <td>{{album.1}}</td>
                    <td>{{album.2}}</td>
                    <td>{{album.3}}</td>
                    <td>
                        <button type="submit"> Eliminar</button>
                        <button type="button"><a href="http://localhost:5000">Cancelar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
    
</body>
</html>