{% extends 'template.html' %}
{% block body %}

    <div class="mt-5 mb-5">
        <h1 class="display-1 text-center">Gestion de albums</h1>
    </div>

    {% with mensajes= get_flashed_messages()  %}
        {% if mensajes %}
            {% for msj in mensajes %}
                <h3>{{ msj }}</h3>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div class="container">
        <div class="row">
            <div class="col-md-5">
                
                <div class=" card card-body mb-5">
                    
                    
                    <form action="/guardar" method="POST">
                        <div class="mb-3">
                            <input type="text" class="form-control" name="txtTitulo" placeholder="Escribe titulo">
                        </div>
                        <div class="mb-3">
                            <input type="text" class="form-control" name="txtArtista" placeholder="Escribe artista">
                        </div>
                        <div class="mb-3">
                            <input type="number" class="form-control" name="txtAnio" placeholder="Escribe año">
                        </div>
                        <div class="d-grid gap-2">
                            <button class="btn btn-outline-info" type="submit"> Guardar</button>
                        </div>
                        
                    </form>
                </div>
            </div><!--col-5-->
    
            <div class="col-md-7">
                <div>
                    <h1>Albums Guardados</h1>
                </div>
    
                <table class="table table-info table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Id: </td>
                            <th scope="col">Album: </td>
                            <th scope="col">Artista: </td>
                            <th scope="col">Año de publicación: </td>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        {%for alb in listAlbums %}
                        <tr>
                            <th scope="row">{{alb.0}}</td>
                            <td>{{alb.1}}</td>
                            <td>{{alb.2}}</td>
                            <td>{{alb.3}}</td>
                            <td>
                                <a href=/editar/{{alb.0}} class="btn btn-outline-primary"><i class="bi bi-pencil-square"> Editar</i></a>
                                <a href=/eliminar/{{alb.0}} class="btn btn-outline-danger"><i class="bi bi-trash"> Borrar</i></a>
                            </td>
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div><!--col-7-->
        </div><!--row-->
    </div><!--container-->
    
    
    
{% endblock %}